.brandLogo{
    display: flex !important;
    align-items: center !important;
    font-family: 'Poppins',sans-serif;
    font-size: 25px !important;
}

.brandImage{
    margin-right: 15px;
}
.dashNav{
    padding: 5px 10px !important;
    background-color: #1C2331;
}
.sideNavProfile{
    margin-left: 30px;
}
.navLi{
    font-weight: 500;
    font-family: 'Poppins',sans-serif;
}
.singOutBtn{
    font-weight: 500;
    font-family: 'Poppins',sans-serif;
    text-transform: capitalize;
}
